@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baskerville Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Baskerville Normal'), url('/baskvl.woff') format('woff');
}

:root {
  /* Include in services/theme.js */
  --primary: #efefef;
  --secondary: #1b1b3b;
  --darkprimary: #f8f8f8;
  --darksecondary: #0b0b2b;
  --primaryfontcolor: #1b1b3b;
  --secondaryfontcolor: #efefef;
  --bluegrayprimary: #3b3b5b;
  --bluegraysecondary: #1b1b3b;
  /* End */

  /* Fixed colors */
  --sky-violet: rgb(138, 66, 255);
  --sky-blue: rgb(92, 252, 255);
  --danger: #f91444;
  --light: #efefef;
  --dark: #1b1b3b;
  --super-dark: #1b1b0b;
  --turquoise: #7fffd4;

  /* Sizes */
  --remS: 0.3rem;
  --remM: 0.5rem;
  --remML: 0.8rem;
  --remL: 1rem;
  --remLX: 2rem;
  --remX: 3rem;
  --remXL: 5rem;
  --remXXL: 8rem;
  --minWDisplay: 350px;

  /* Times */
  --timeFlash: 0.3s;

  /* Aspect ratio */
  --ar16: 250px;
  --ar9: 150px;
}

html {
  font-family: 'Baskerville Normal';
  background-color: var(--primary);
  color: var(--primaryfontcolor);
}

body {
  min-width: var(--minWDisplay);
  min-height: var(--minWDisplay);
}

/* Background */
.bcP {
  background-color: var(--primary);
}

.bcDp {
  background-color: var(--darkprimary);
}

.bcS {
  background-color: var(--secondary);
}

.bcDs {
  background-color: var(--darksecondary);
}

.bcBgp {
  background-color: var(--bluegrayprimary);
}

.bcBgs {
  background-color: var(--bluegraysecondary);
}

.bcD {
  background-color: var(--dark);
}

.bcSd {
  background-color: var(--super-dark);
}

.bcDr {
  background-color: var(--danger);
}

.bcTurq {
  background-color: var(--turquoise);
}

.bcT {
  background-color: transparent;
}

/* Sizes */
.w100p {
  width: 100%;
}

.w100vw {
  width: 100vw;
}

.minWD {
  min-width: var(--minWDisplay);
}

.h100p {
  height: 100%;
}

.pgS {
  padding: var(--remS);
}

.pgM {
  padding: var(--remM);
}

.pgL {
  padding: var(--remL);
}

.pgLX {
  padding: var(--remLX);
}

.pgX {
  padding: var(--remX);
}

.gpS {
  gap: var(--remS);
}

.gpM {
  gap: var(--remM);
}

.gpLX {
  gap: var(--remLX);
}

.gpL {
  gap: var(--remL);
}

.brS {
  border-radius: var(--remS);
}

.brM {
  border-radius: var(--remM);
}

.brL {
  border-radius: var(--remL);
}

/* Display */
.df {
  display: flex;
}

.dg {
  display: grid;
}

.dn {
  display: none;
}

/* Flex - Grid */
.fdc {
  flex-direction: column;
}

.fFC {
  align-items: center;
  justify-content: center;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jic {
  justify-items: center;
}

.jcse {
  justify-content: space-evenly;
}

.jcsb {
  justify-content: space-between;
}

.jcfe {
  justify-content: flex-end;
}

.fg1 {
  flex-grow: 1;
}

.fwW {
  flex-wrap: wrap;
}

/* Grid */
.spanC2 {
  grid-column: 1 / span 2;
}

/* Positions */
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.psy {
  position: sticky;
}

.tp0 {
  top: 0;
}

.lf0 {
  left: 0;
}

.rt0 {
  right: 0;
}

.bm0 {
  bottom: 0;
}

/* Cursor */
.cp {
  cursor: pointer;
}

/* Fonts */
.fwB {
  font-weight: bold;
}

.fsI {
  font-style: italic;
}

/* Text */
.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.toe {
  text-overflow: ellipsis;
}

.wsNW {
  white-space: nowrap;
}

.crP {
  color: var(--primary);
}

.crDp {
  color: var(--darkprimary);
}

.crS {
  color: var(--secondary);
}

.crDs {
  color: var(--darksecondary);
}

.crL {
  color: var(--light);
}

.crD {
  color: var(--dark);
}

/* Overflow */
.owA {
  overflow: auto;
}

.owH {
  overflow: hidden;
}

.owxA {
  overflow-x: auto;
}

.owyA {
  overflow-y: auto;
}

/* Visiblity */
.vH {
  visibility: hidden;
}

/* List */
.lsN {
  list-style: none;
}

/* Object Fit */
.ofCr {
  object-fit: cover;
}

.ofCn {
  object-fit: contain;
}

/* Utils */
.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.lsn {
  list-style: none;
}
