.card {
  grid-template-columns: 35% 1fr;
  grid-template-rows: 30% 50% 20%;
}

.imgContainer {
  grid-row: span 2;
}

.section {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  width: 85%;
  z-index: 50;
}

.title {
  border-bottom: var(--remS) solid var(--darkprimary);
}

.actionActivated:hover {
  filter: contrast(1.5);
}
