@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baskerville Normal';
  font-style: normal;
  font-weight: normal;
  src:
    local('Baskerville Normal'),
    url('/baskvl.woff') format('woff');
}

:root {
  --primary-flash: #000;
  --danger: #f91444;
  --turquoise: #7fffd4;
  --remS: 0.3rem;
}

html {
  font-family: 'Baskerville Normal';
  background-color: var(--primary);
  color: var(--primaryfontcolor);
}

body {
  min-width: var(350px);
  min-height: var(350px);
  @apply text-dark-200 dark:text-light-200;
  @apply transition duration-300;
}

.invisible {
  display: none;
  opacity: 0;
}

#globalModal {
  opacity: 0;
  display: flex;
  transition: opacity 0.3s;
}

/* Utils */
.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.shadow-title {
  text-shadow:
    -0.2rem -0.2rem 0.3rem rgb(138, 66, 255),
    0.2rem 0.2rem 0.3rem rgb(92, 252, 255);
}
