.extraContainer {
  width: 90%;
}

.addNewProduct {
  background-color: #7fffd4;
  border-radius: .3rem;
  padding: .5rem;
  display: flex;
  gap: .3rem;
}

.formAdd {
  display: none;
  margin-top: .5rem;
  background-color: var(--primary);
  padding: .5rem;
  border-radius: .3rem;
  overflow: hidden;
  height: 0%;
  transition: height .3s;
}

.formContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  gap: .5rem;
}

.fieldName,
.fieldDesc,
.addNewProduct {
  grid-column: 1 /span 2;
}

.formAdd label {
  font-weight: 800;
}

.formAdd input,
.formAdd textarea {
  border-radius: .3rem;
  padding: .3rem;
  border: none;
  outline: none;
  width: 100%;
}

.formAdd textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
}

/* Products */

.productsContainer {
  gap: .5rem;
  margin: .5rem 0;
}

.product {
  background-color: var(--secondary);
  color: var(--primary);
  padding: .5rem;
  border-radius: .3rem;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: minmax(min-content, max-content) calc(5rem * 1.25) minmax(min-content, max-content);
  gap: .5rem;
}

.image {
  grid-row: 1 / span 2;
}

.floatInfoProduct {
  background-color: var(--secondary);
  color: var(--darkprimary);
  padding: .3rem;
  border-radius: .3rem;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  min-width: 75px;
  z-index: 50;
}

.desc {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 8rem;
  -webkit-line-clamp: 5;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.infoProduct {
  align-self: flex-end;
  gap: .5rem;
}

.infoProduct, .barcode {
  padding: .3rem 0;
}

.barcode,
.stock,
.precio {
  display: flex;
  gap: .3rem;
}