/* --- Header */
/* Cover */
.title {
  text-shadow: -0.2rem -0.2rem 0.3rem var(--sky-violet),
    0.2rem 0.2rem 0.3rem var(--sky-blue);
}

.coverContainer {
  width: calc(100% + (var(--remLX)) * 2);
  height: calc(100% + var(--remLX));
  left: calc(var(--remLX) * -1);
  overflow: hidden;
}

.coverDiv {
  width: 100px;
  z-index: 100;
  right: var(--remM);
}

.coverCta {
  background: linear-gradient(var(--sky-violet), var(--sky-blue));
  border-top-left-radius: 0;
  transition: box-shadow var(--timeFlash);

  border-top: var(--remS) solid var(--sky-blue);
  border-left: var(--remS) solid var(--sky-blue);
  border-right: var(--remS) solid var(--sky-violet);
  border-bottom: var(--remS) solid var(--sky-violet);

  box-shadow: -0.3rem -0.3rem 0.3rem var(--sky-violet),
    0.3rem 0.3rem 0.3rem var(--sky-blue);
}

.coverCta:hover {
  background: linear-gradient(var(--sky-blue), var(--sky-violet));
  box-shadow: -0.5rem -0.5rem 0.3rem var(--sky-violet),
    0.5rem 0.5rem 0.3rem var(--sky-blue);
}

.coverStoreIcon {
  right: calc(var(--remXXL) * -1);
  filter: drop-shadow(0px 0px 5px var(--sky-blue));
}

.coverCEO {
  filter: drop-shadow(0px 0px 5px var(--sky-violet));
}

.coverDesc {
  font-size: 1.3rem;
  border-top-left-radius: 0;
}

/* --- Main */
/* Most populars */
.mpContainer {
  grid-template-columns: repeat(2, calc(50% - (var(--remL)) / 2));
  padding-top: var(--remL);
  padding-bottom: var(--remL);
}
.mpImgContainer {
  height: calc(100vw - (var(--ar9) * 1.5));
  min-height: var(--ar9);
}

.mpCard:nth-child(odd) .mpImgContainer {
  box-shadow: -2px -2px 2px var(--sky-violet);
}

.mpCard:nth-child(even) .mpImgContainer {
  box-shadow: 2px 2px 2px var(--sky-blue);
}

.mpBtnCTA {
  padding: 0.5rem 0.8rem;
  transition: box-shadow var(--timeFlash);
  box-shadow: -0.2rem -0.2rem 0.3rem var(--sky-violet),
    0.2rem 0.2rem 0.3rem var(--sky-blue);
}

.mpBtnCTA:hover {
  box-shadow: -0.4rem -0.4rem 0.3rem var(--sky-violet),
    0.4rem 0.4rem 0.3rem var(--sky-blue);
}

/* Map Google */
.mapge {
  border: none;
  height: var(--ar16);
}
